

img{width:100vw ; 
    height: 15vw;


}
body{
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(100, 240, 240));
  }

header {
    background-color: #0f0f0f;
    color: #353535;
    padding: 20px;
    border-radius: 40px;
  }
  h1 {
    font-size: 36px;
    margin: 0;
    text-align: center;
    color: rgb(113, 84, 241);
  }


  p {
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
    text-align: center;}
    h2 {
        font-size: 36px;
        margin: 0;
        text-align: center;
        color: rgb(150, 5, 5);
      }
    